<<<<<<< HEAD
.about-section {
  background-color:#eff3f1;
}

.about-section h2 {
  font-size: 2rem;
  color: #222;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.about-section img {
  max-height: 350px;
  object-fit: contain;
=======
.about-section {
  background-color:#eff3f1;
}

.about-section h2 {
  font-size: 2rem;
  color: #222;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.about-section img {
  max-height: 350px;
  object-fit: contain;
>>>>>>> 03ef7f6b9498c4d0970794466ee4e0fa271ce33f
}