<<<<<<< HEAD
.button {
  background-color: #ff8800dc;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  
}

.btn:hover {
  background-color: #ff8800;
=======
.button {
  background-color: #ff8800dc;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  
}

.btn:hover {
  background-color: #ff8800;
>>>>>>> 03ef7f6b9498c4d0970794466ee4e0fa271ce33f
}